# 
.DS_Store

# 
plot/.DS_Store
plot/jaccard_plot/.Rhistory
plot/jaccard_plot/*.png
plot/*

# doc
plot/structure_plot/DeepGWAS_structure.pptx


# Directories

doc/*

log/*

results/*



# R Environment Variables
.Renviron
main1-2.jpg
plot/structure_plot/DeepGWAS_structure.pptx
*.pptx
data/MDD_depGWAS_lociInfo_anno_name_prob
data/MDD_depGWAS_lociInfo_anno_name_prob.csv
